<div id="page1" data-role="page">
  <div data-role="header"><h1>jQuery Mobile デモ</h1></div>

  <div data-role="content">
    <%= @url %>
    <br>
    alert::<%= @alert %>
    <br />
    <%= raw(@parsed.to_json) %>
    <br />
    <br />
    <br />

    <ul data-role="listview" 
        data-filter="true" 
        data-filter-placeholder="検索" 
        data-inset="true">
    <% @distance.each_with_index do |dis, i| %>
      <li><a href="#page2" value="<%=@entry_ids[i] %>">
        <%= @titles[i] + "[" + dis.to_s + "m]" %>
      </a></li>
    <% end %>
    </ul>
  </div>

  <div data-role="footer">&copy; plug-now.com</div>
</div>



<div id="page2" data-role="page">
  <div data-role="header">
    <h1>次のページ</h1>
    <a href="#page1" data-icon="arrow-l">戻る</a>
  </div>
  
  <div data-role="content">
    <div id="data">
      <div id="p2_title"><span>店名：</span></div>
      <div id="p2_address"><span>住所：</span></div>
      <div id="p2_map">
        <img width="200" height="200" src="http://routemap.olp.yahooapis.jp/OpenLocalPlatform/V1/routeMap?appid=dj0zaiZpPXNlSjFMd1VHWWpUQSZzPWNvbnN1bWVyc2VjcmV0Jng9NTM-&route=35.68233286004894,139.76649043148458,35.685173782469064,139.76584670132092|color:0000ffff" />
      </div>
      <div id="p2_tel"><span>TEL：</span></div>
      <div id="p2_wireless"><span>無線LAN</span></div>
      <div id="p2_category"><span>カテゴリ</span></div>
      <div id="p2_url_pc"><span>公式サイト</span></div>
      <div id="p2_tag"><span>電源、Qi、禁煙喫煙などの情報：</span></div>
      <div id="p2_other"><span>その他</span></div>
      <div id="p2_mo_url"><span>参照URL</span></div>
    </div> 
  </div>

  <div data-role="footer">&copy; plug-now.com</div>
  <ul>
    <li>メモ
      <ul>
        <li>更新したら現在地が更新されてmap最適化</li>
      </ul>
    </li>
  </ul>
</div>
